@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #2be6ff, #000000);
}

.dice-game {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container,
.board-container {
  width: 50%;
  height: 81vh;
  background: linear-gradient(to right, rgb(126, 227, 235),  white);
  border-radius: 35px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-heading {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-boxes {
  margin-top: 30px;
  width: 60%;
}

.input-group {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.input-group input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 30px 0px 30px 0px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.input-group input:focus {
  border-color: #ff4b2b;
}

.input-group i {
  position: absolute;
  margin-left: 10px;
  color: black;
  font-size: 15px;
}

.button {
  margin-top: 40px;
  
}

.button input {
  color: #000000;
  background: linear-gradient(to left, #8ce4f0 , white ) ;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  
}

.button input:hover {
  border-radius: 50px;
}

.board-container {
    display: none;
}

.board {
  display: flex;
  width: 100%;
  height: 79%;
}

.player1,
.player2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.player1 {
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(15, 235, 243));
  border-radius: 35px 0px 0px 0px;

}
.player2 {
  background: linear-gradient(to top, rgb(15, 235, 243), rgb(255, 255, 255));
  border-radius: 0px 35px 0px 0px;
}
}

.heading {
  font-size: 6vh;
  color: #a18487;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.score {
  color: #000000;
  font-size: 10vh;
}

.dice {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px;
  box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
}

#player-1-button,
#player-2-button{
    width: 50%;
}

#player-1-button input[disabled],
#player-2-button input[disabled] {
  background: #000000;
  color: #ffffff;
  cursor: not-allowed;
  outline: none;
  border-radius: 50px;
}

.winner {
    position: absolute;
    width: 50%;
    height: 52%;
    background: #fff;
    opacity: 0.6;
    background: url("../images/winner.gif");
    z-index: 50;
    margin: 0px 50px 20px 0px;
}

.restart-btn{
  margin: 2% 35%;
  height: 25px;
  width: 30%;
  border: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.restart-btn:hover {
  background: linear-gradient(to top, #000000, #81f7f7);
  color: #ffffff;
}